<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @idea.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @idea.category.name %>
</p>

<p>
  <strong>Images:</strong>
    <br>
    <% @idea.images.each do |image| %>
      <img src="<%= image.path %>">
    <% end %>
</p>

<%= form.collection_select :image_id, @images.all, :id, :path, { prompt: "Choose an Image" }, class: "browser-default" %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
