<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h2>Your Ideas:</h2>
<% @user.ideas.each do |idea| %>
<div class="row">
<div class="col s4">
  <div class="card medium hoverable">
    <div class="card-image">
      <div class="responsive-img">
      <img src="<%= Faker::LoremPixel.image %>">
    </div>
  </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><%= idea.content %></p>
      </div>
      <div class="card-action">
        <a><%= link_to 'Edit', edit_idea_path(idea) %></a>
      </div>
    </div>
  </div>

</div>
<% end %>
</div>

<%= link_to 'Back', users_path %>
