<p id="notice"><%= notice %></p>

<div class="row center-align">
<%= link_to new_category_path, class: "waves-effect waves-light btn-small" do %>
<a class="waves-effect waves-light btn blue center-align">New Category</a>
<% end %>
</div>




<div class="row">
 <% @categories.each do |category| %>
  <div class="col s6 m3">
    <div class="card">
      <div class="card-content ">
        <span class="card-title center"><%= category.name %></span>
      </div>
      <div class="card-action white center">
        <td><%= link_to category, class: "waves-effect waves-light btn-small" do %>
          <i class="material-icons">info</i>
        <% end %></td>
        <td><%= link_to edit_category_path(category), class: "waves-effect waves-light btn-small" do %>
          <i class="material-icons">edit</i>
        <% end %></td>
        <td><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn-small" do %>
          <i class="material-icons">delete</i>
        <% end %></td>
      </div>
    </div>
  </div>
      <% end %>
</div>
