<p id="notice"><%= notice %></p>
<div class="row center-align">
<%= link_to new_image_path, class: "waves-effect waves-light btn-small"  if current_user && current_user.admin? do %>
<a class="waves-effect waves-light btn blue center-align">New image</a>
<% end %>
</div>
<br>
<div class="col s6 m3">
 <% @images.each do |image| %>
  <div class="card">
    <div class="card-content ">
      <span class="card-title center"><%= image.name %></span>
    </div>
    <% if current_user && current_user.admin? %>
    <div class="card-action white center">
      <td><%= link_to image, class: "waves-effect waves-light btn-small" do %>
        <i class="material-icons">info</i>
      <% end %></td>
      <td><%= link_to edit_image_path(image), class: "waves-effect waves-light btn-small" do %>
        <i class="material-icons">edit</i>
      <% end %></td>
      <td><%= link_to image, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn-small" do %>
        <i class="material-icons">delete</i>
      <% end %></td>
  <% end %>
  </div>

</div>
    <% end %>
</div>

<br>

<%= link_to 'New Image', new_image_path %>
